<mat-card class="cat-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ catDisplay.name }}</mat-card-title>
            <mat-card-subtitle>Age: {{ catDisplay.age}}, Color: {{catDisplay.color }}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <img mat-card-image [src]="catDisplay.photo">
    <a [routerLink]="['/details', catDisplay.id]">More information about {{catDisplay.name}}</a>
</mat-card>
<mat-card-footer></mat-card-footer>
